body {
    margin: 10;
    padding: 10;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(500deg, #9d9e9e, #08fcfc, #ffffff,#9d9e9e);
}

.icono {
    color: #525252;
    transition: color 0.2s;
}

.icono:hover {
    color: #ffffff;
}

.lista-sin-marcador :hover{
    color: #fcfdfd;
}

.casilla-input {
    background-color: #ffffff;
}
.casilla-input:focus{
    background-color: #CED0D1;
}

.color_compraventa:hover {
    color:#ffffff;
}

.color_formulario:hover{
    color:#08fcfc;
    transition: color 0.2s;
}

.texto-derecha {
    text-align: center ;
}

.lista-sin-marcador {
    list-style: none;
}

.alinear-derecha a {
    color: #08fcfc; /* Cambia el color del enlace a azul */
}

.alinear-derecha {
    text-align: right;
    margin-top: -70px;
}


head{
    font-family: 'Roboto', sans-serif;
}

.registrarse {
    position: absolute;
    top: 10px;
    right: 10px;
}

.color_formulario{
    text-align: center ;
}

#registroForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #08fcfc;
    border-radius: 35px;
}

.registroform input[type="text"],
.registroform input[type="email"],
.registroform input[type="number"],
.registroform input[type="date"],
.registroform input[type="password"] {
    background-color: #CED0D1;
}

.form-group {
    margin-bottom: 25px;
    text-align:left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"] {
    width: 97%;
    padding: 10px;
    border: 1px solid #08fcfc;
    border-radius: 3px;
}

.form-group button {
    background-color: #08fcfc;
    color:#0c0c0c;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block; /* Hacer que el botón ocupe todo el ancho disponible */
    margin:  auto; /* Centra horizontalmente el botón */
}

.form-group button:hover {
    background-color: #CED0D1;
}

.ultimo_texto{
    background-color: #ffffff;
}





